@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset y base */
@layer base {
  * {
    @apply border-neutral-light/20;
  }

  body {
    @apply font-body bg-black text-neutral-light antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

/* Utilidades custom */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
